
.aCards{
  display: flex;
  border: 2px solid #6D410C;
}
.asnap-card {
  box-sizing: border-box;
  width: 40%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow:  #ECE2D0 4px 4px 20px;
  border: 2px solid #6D410C;
  border-radius: 10px;
    img {
      width: 100%;
    }
    h2{
      margin-bottom: 0;
    }
    p{
      font-weight: 300;
      font-size: 16px;
    }
    button{
      background-color: transparent;
      box-sizing: border-box;
      padding: 3px 3px;
      border-radius: 5px;
      border-color: #6D2E0C;
      box-shadow: none;
      margin-right: 10px;
      outline: none;
      font-size: 14px;
      font-weight: 500;
      &:active{
        transform: translate(1px,1px);
        box-shadow: #6D410C 0 0 5px;
      }
    }
    button:hover{
      background-color: #ECE2D0;
    }
  }
  .snapped{
    background-color: #B0977E;
    color:#6D410C;
    button{
      box-shadow: #6D410C 1px 1px 7px;
      color: #6D410C;
      &:active{
        box-shadow: #6D410C 0 0 5px;
      }
    }
  }